.all- {
  background-color: rgb(226, 147, 206);
}

.info- {
  text-align: center;
  margin-top: 20px;
}

.contact-link- {
  margin-top: 20px;
  right: -300px;
}
a{
  text-decoration: none;
  font-size: 18px;

}
