<div class="row all-">
  <div class="col-md-6 info-">
    <h3>Highlight Shop</h3>
    <p>Thông tin liên hệ:<br>
      Địa chỉ: Số 1,25 Phạm Văn Đồng, Cầu Giấy, Hà Nội<br>
      Số điện thoại: 0962.989.431<br>
      Email: highlightshop@gmail.com</p>
  </div>
  <div class="col-md-6 contact-link-">
    <div class="column">
      <a class="mar-" href="https://www.facebook.com/Studytonight" target="_blank">
        <i class="fa fa-facebook"></i> Facebook
      </a><br class="br-size-">
      <a class="mar-" href="https://www.instagram.com/" target="_blank">
        <i class="fa fa-instagram"></i> Instagram
      </a><br class="br-size-">
      <a class="mar-" href="https://twitter.com/search?q=%23RestoreTheSnyderVerse&src=hashtag_click" target="_blank">
        <i class="fa fa-twitter"></i> Twitter
      </a><br class="br-size-">
      <a class="mar-" href="https://www.youtube.com/channel/UCVUDvRg_CJh-3plLGSgcS7g" target="_blank">
        <i class="fa fa-youtube"></i> Youtube
      </a>

    </div>
  </div>
</div>
<link rel="stylesheet" href="D:\fontawesome-free-5.15.3-web\css\fontawesome.min.css">
