/*<!-- .sidenav {
  height: 1200px;
  width: 200px;
  position: absolute;

  top: 54px;
  right: 0;
  background-color: #111;

}*/

.right{
  float: right;
  width: 15%;
  background-color: lightskyblue;
  height: 1000px;

  padding: 10px;
  text-align: center;
}
