.color-{
  background-color: rgb(143, 252, 148);
}

.option-bar-{
  margin-left: 16%;
  font-weight: 400;
  font-size: 20px;

}

.item-{
  border: 10px red;
  width: 200px;
  height: 50px;
  text-align: center;
}
.item-:hover{
  background-color: rgb(57, 199, 255);
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}
