<div *ngIf = "boolVar" class="row">
  <div class="col-md-6">
    <img src = "{{product.imageLink}}" height="700px" width="500px">

  </div>
  <div class="col-md-6">
    <b style="font-size: 30px; color: darkred;">{{product.name}} </b>
    <p>5.0 <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> (479 Đánh giá)</p>
    <p>Size: {{product.size}}</p>
    <p>Brand: {{product.brand}}</p>
    <p>_______________________________________________________________________</p>
    <b style="font-size: 30px; color: green;">{{product.price}} VNĐ</b> <p></p>

    <button *ngIf="!addedToCart" class="btn btn-primary" (click) = "addToCart()">Add To Card</button>
    <button *ngIf="addedToCart" class="btn btn-primary" (click) = "removeFromCart()">Remove From Card</button>
  </div>
</div>
