.input-box- {
  margin-left: 360px;
  margin-top: 10px;
}

h2 {
  margin-left: 460px;
  margin-top: 40px;
}

.buy- {
  margin-left: 44%;
}

td input {
  width: 50px;
  text-align: center;
}

.all- {
  min-height: 750px;
}

.alert- {
  font-size: 20px;
  color: red;
  text-align: center;
}

.cart-status- {
  font-size: 20px;
  color: green;
  text-align: center;
}
