.search-box-{
  border-width: 2px;
  font-weight: 500;
}

.input-{
  border-width: 2px;
  font-weight: 500;
  position: relative;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.re-place- {
  left: 10px;
}

.dropdown-item{
  margin-left: 1000px;
}
/*
.dropdown-{
  position: absolute;
  top: 19px;
  right: 105px;

}

.dropdown-context-{
  display: block !important ;
  list-style: none;
  border: solid 1px red;
  border-bottom: none;

  width: 200px;
  height: 20px;
}

.dropdown-context-:last-child{
  border-bottom: solid 1px red;
} */
