
<p></p>
<div>
  <label for=""></label>
  <img src="https://i.ibb.co/PZ4VnDN/kinh-lup.png" width="37px" height="37px">
  <input id=""  [(ngModel)] = 'searchingWord' (input) = search(searchingWord) (keyup.enter) = "searchingWord = ''">

  <ul *ngIf = "searchingWord != ''">
    <li *ngFor = 'let searchResult of searchResult'>
      <a routerLink = '/product/{{searchResult.productCode}}' class = "red" (click) = "searchingWord = ''">
        {{searchResult.name}}
      </a>
    </li>
  </ul>
</div>
