<br>

<div class="container col-12">
  <ul class="card-group list-group-horizontal ">
    <li *ngFor = "let listProduct of listProduct" style="display: block;" class="col-md-3">
      <a routerLink = '/product/{{listProduct.productCode}}'>
        <div class="card" style="width: 280px; height: 450px;">
          <img src="{{listProduct.imageLink}}" class="card-img-top" height="300px">
          <div class="card-body">
            <h5 class="card-title">{{listProduct.name}}</h5>
            <p class="card-text">{{listProduct.price}}</p>
            <button class="btn btn-primary">See Details</button>
          </div>
        </div>
      </a><br>
    </li>
  </ul>
</div>
