.title-{
  margin-left:17%;
  font-size: 30px;
  font-weight: 500;
}

.search-box-{
  margin-left: 13%;
  border-width: 2px;
}

.checkout-{
  margin-right: 16%;
  border-width: 2px;
  font-weight: 500;
}

img{
  margin-top: 6px;

}



